body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #ECEEF3;
    position: relative;
}

html {
    width: 100%;
    height: 100%;
}

h3 {
    color:#ffb300;
}


p {
    margin: 0 0 25px;
    font-weight: 100;
    font-family: Montserrat,"Helvetica Neue",Helvetica;
}

.team-text {
    font-size: 16px;
}

.about-heading {
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 28px;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    outline: 0;
    background-color: rgba(255,179,0,.8);
}

.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,179,0,1);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.intro {
    color: #fff;
    background: url("http://dev.webfellowship.org/kwelia/img/brick.jpg") no-repeat bottom center scroll; /* BG img for intro section */
    background-color: #025167;
    box-shadow:0px 2px 1px rgba(0, 0, 0, .5);
}

.intro-body {
    vertical-align: middle;
}

.brand-heading {
    margin-top: 200px;
    font-size: 50px;
    color:#ffb300;
    text-align: left;
}

.lead-photo {
    margin-top: 50px;
    height:420px;
    width:auto;
}

.intro-text {
    font-size: 18px;
    color: #ffb300;
}

@media(min-width:1000px) {
    .lead-photo {
        height:580px;
        width:auto;
    }

    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 65px;
    }

    .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: -30px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.about-section {
    padding-top: 80px;
    padding-bottom: 160px;
    box-shadow:0px 2px 1px rgba(0, 0, 0, .5);
    background-color: #fff;
    color: #000;
    margin-top: 100px;
}

.team-section {
    width: 100%;
    color: #000;
    background: url(../img/stardust@2x.png);
    background-color: #fff;
    padding-top: 100px;
    box-shadow:0px 2px 1px rgba(0, 0, 0, .5);
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .about-section {
        padding-top: 150px;
    }

    .team-section {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #2FBC54;
    color: #2FBC54;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #2FBC54;
    outline: 0;
    color: #000;
    background-color: #2FBC54;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.card {
    padding:1.5rem;
    box-shadow:0px 2px 1px rgba(0, 0, 0, 0.1);
    border:none;
    background:white;
    margin:1rem 1rem 1rem 1rem;
    border-radius:3px;
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
}

/*from http://tympanus.net/codrops/2012/08/08/circle-hover-effects-with-css-transitions/ */

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 0 rgba(200,95,66, 0.4),
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    box-shadow:0px 2px 1px rgba(0, 0, 0, .5);
}

.ch-img-1 { 
    background-image: url(../img/john.png);
}
 
.ch-img-2 { 
    background-image: url(../img/greg.png);
}
 
.ch-img-3 { 
    background-image: url(../img/chris.png);
}

.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    backface-visibility: hidden;
}

.ch-info h3 {
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 24px;
    margin: 0 30px;
    padding: 65px 0 0 0;
    height: 110px;
}
 
.ch-info p {
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 18px;
}
 
.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
}
 
.ch-info p a:hover {
    color: rgba(0,0,255, 0.8);
}

.ch-item:hover {
    box-shadow: 
        inset 0 0 0 125px rgba(255,127,0, 0.4),
        inset 0 0 0 14px rgba(255,179,0,0.8),
        0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
    opacity: 1;
    transform: scale(1);    
}

.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 60px;
}

/* some pricing markup from http://wsnippets.com/create-professional-pricing-table-css3-twitter-bootstrap-3-0/ */
.price {
  font-size: 4em;
}
 
.price-cents {
  vertical-align: super;
  font-size: 50%;
}
 
.price-month {
  font-size: 35%;
  font-style: italic;
}
.panel {
-webkit-transition-property : scale; 
-webkit-transition-duration : 0.2s; 
-webkit-transition-timing-function : ease-in-out; 
-moz-transition : all 0.2s ease-in-out;  
}

.panel li {
    font-size: 14px;
    font-weight: 100;
    font-family: Montserrat,"Helvetica Neue",Helvetica;
}
 
.panel:hover {
box-shadow: 0 0 10px rgba(0,0,0,.5);
-moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
}

.panel-warning .panel-heading {
    background-color: gray;
    border-color: gray;
}

.panel-warning {
    border-color: gray;
}

.panel-info .panel-heading {
    background-color: #216477;
    border-color: #216477;
}

.panel-info {
    border-color: #216477;
}

.panel-success .panel-heading {
    background-color: #2FBC54;
    border-color: #2FBC54;
}

.tier {
    color:#ffb300;
    font-size: 36px;
}

ul {
  white-space: nowrap;
}

ul, li {
  list-style: none;
  display: inline;
}

